.main-container{
  width: 80%;

  .btn-start{
    background-color: #00aafc;
    height: 50px;
    width: 60%;
    border-radius: 10px;
    font-size: 20pt;
  }
}

.users {
  width: 90%;
  height: 60%;
  border-color: gray;
  border-width: 1px;
  padding: 7px;
}

.welcome-label{
  color: #00aafc;
  font-size: 18pt;
}