<ActionBar>

</ActionBar>

<StackLayout class="main-container">
    <FlexboxLayout *ngIf="!userIn" justifyContent="space-between" flexDirection="column" height="100%">
        <StackLayout>
            <StackLayout marginTop="20" marginBottom="20">
                <Image src="res://ui_logo" horizontalAlignment="center" width="90"></Image>
            </StackLayout>

            <StackLayout marginBottom="10" height="60">
                <Label class="welcome-label" horizontalAlignment="center"
                       text="ברוכים הבאים לאפליקציית"></Label>
                <Label class="welcome-label" horizontalAlignment="center" text="החזר ההוצאות של UI"></Label>
            </StackLayout>

            <StackLayout class="users">
                <ListView [items]="employees" class="employees-list" verticalAlignment="center"
                          (itemTap)="onItemTap($event)">
                    <template let-employee="item" let-i="index" class="employee-item">
                        <GridLayout rows="30" columns="*">
                            <Label col="1" [text]="employee.name" verticalAlignment="center" fontSize="18"></Label>
                        </GridLayout>
                    </template>
                </ListView>
            </StackLayout>
        </StackLayout>
    </FlexboxLayout>

    <StackLayout *ngIf="userIn">
        <Button text="Back to expenses" [nsRouterLink]="['/expenses']"></Button>
    </StackLayout>
</StackLayout>



