<StackLayout class="exp-type-container" backgroundColor="lightslategray">
    <GridLayout rows="*" columns="auto,auto,auto,auto" horizontalAlignment="center">
        <StackLayout *ngFor="let category of categories; let i = index" col="{{i}}" class="exp-type {{category.class}}" (tap)="onTap(i);"
            [ngClass]="{selected: selectedIndex == category.id}">
            <FlexboxLayout flexDirection="column" justifyContent="center" horizontalAlignment="center">
                <Label text="{{category.name}}" alignSelf="center" paddingTop="5"></Label>
                <Image [src]="selectedIndex == category.id ? category.image_on : category.image_off" width="40" height="40"></Image>
            </FlexboxLayout>
        </StackLayout>
    </GridLayout>
</StackLayout>