<StackLayout horizontalAlignment="center"  padding="0 15px">
    <StackLayout horizontalAlignment="right">
        <Label class="exp-label {{category.class}}" text="מספר חשבונית"></Label>
    </StackLayout>
    <StackLayout marginBottom="10" horizontalAlignment="right">
        <TextField #recipeNumber class="input" hint="הזן מספר חשבונית" borderWidth="1" borderColor="black" width="100%" height="40"
                   fontSize="20" text="{{ref}}"
                   (propertyChange)="recipeNumberChanged(recipeNumber.text)"></TextField>
    </StackLayout>
</StackLayout>
