<StackLayout *ngIf="!userIn" class="welcome">
    <ListView [items]="employees" verticalAlignment="center" height="100" (itemTap)="onItemTap($event)">
        <template let-employee="item" let-i="index">
            <GridLayout columns="20, *">
                <Label col="0" [text]="employee.id"></Label>
                <Label col="1" [text]="employee.name"></Label>
            </GridLayout>
        </template>
    </ListView>
</StackLayout>

<StackLayout *ngIf="userIn">
    <Button text="Back to expenses" [nsRouterLink]="['/expenses']"></Button>
</StackLayout>
