<StackLayout *ngIf="!userIn" class="welcome">
    <ListView [items]="employees" class="employees-list" verticalAlignment="center" (itemTap)="onItemTap($event)">
        <template let-employee="item" let-i="index" class="employee-item">
            <GridLayout rows="30" columns="30, *">
                <Label col="0" [text]="employee.id" verticalAlignment="center" fontSize="18"></Label>
                <Label col="1" [text]="employee.name" verticalAlignment="center" fontSize="18"></Label>
            </GridLayout>
        </template>
    </ListView>
</StackLayout>

<StackLayout *ngIf="userIn">
    <Button text="Back to expenses" [nsRouterLink]="['/expenses']"></Button>
</StackLayout>
