.failure{
  background-color: lightslategray;
  height: 100%;

  .failure-image{
    margin: 15px;
  }

  .failure-text{
    color: white;
  }

  .failure-btn{
    background-color: #53d8ea;
    color: white;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 28px!important;
  }
}
