<StackLayout  *ngIf="dataService.category && dataService.category.id == 0" horizontalAlignment="center" padding="0 15px">
    <!-- <StackLayout>
        <Label class="exp-label {{dataService.category.class}}" text="סוג" horizontalAlignment="right"></Label>
    </StackLayout> -->
    <StackLayout horizontalAlignment="right">
        <TextField #customType
                   class="text-field"
                   hint="סוג..." borderColor="black" height="40" width="100%"
                   text="{{type}}" horizontalAlignment="right"
                   (textChange)="textChange(customType.text)"></TextField>
    </StackLayout>
</StackLayout>