<StackLayout class="expenses"  padding="15" backgroundColor="white">

    <Label class="expenses__name" horizontalAlignment="right" text="היי, {{employee.name}}"></Label>

    <FlexboxLayout flexDirection="column" justifyContent="space-between"
        class="expenses__wrapper">

        <StackLayout class="expenses__wrapper__type">
            <expense-type></expense-type>
        </StackLayout>

        <StackLayout flexGrow="1">
            <FlexboxLayout flexDirection="column" class="expenses__wrapper__main"
                backgroundColor="lightslategray">
                
                <FlexboxLayout height="70">
                    <expense-amount></expense-amount>
                    <expense-custom></expense-custom>
                </FlexboxLayout>

                <StackLayout height="180">
                    <expense-dates></expense-dates>
                </StackLayout>

                <StackLayout flexGrow="1">
                    <expense-image></expense-image>
                </StackLayout>

                <FlexboxLayout justifyContent="center" height="60">
                    <Button class="button" text="שלח" (tap)="sendInvoice()" width="120" height="40"></Button>
                    <Button class="button secondary" text="צא" (tap)="logout()" width="120" height="40"></Button>
                </FlexboxLayout>

            </FlexboxLayout>
        </StackLayout>
    </FlexboxLayout>
</StackLayout>