$food-color: #5bd2d1;
$driving-color: #71dbbd;
$other-color: #48819e;
$parking-color: #3C5AFD;

:root {
    --primary-btn-color: #6668de;
    --secondary-btn-color: transparent;
}

.expenses {
    &__name {
        color: gray;
        font-style: italic;
        padding: 0 0 15px 0;
    }
    &__wrapper {
        height: 100%;
        // border-width: 2px;
        // border-color: green;
        &__type { 
            height: 220px;
            // border-width: 2px;
            // border-color: rgb(64, 90, 238);
        }
        &__main {
            background-color: #000;
            padding-top: 25px;
            // border-width: 2px;
            // border-color: red;

            .exp-label {
                font-size: 26px;
                text-align: center;

                &.food {
                    color: $food-color;
                }

                &.driving {
                    color: $driving-color;
                }

                &.other {
                    color: $other-color;
                }

                &.parking {
                    color: $parking-color;
                }
            }
        }
    }
}

.foodName {
    color: #00aafc;
}

.action-image {
    width: 40px;
    height: 40px;
    vertical-align: center;
}

.action-label {
    color: #3C5AFD;
    font-size: 24px;
    font-weight: bold;
    vertical-align: center;
}
