<StackLayout class="expenses" HorizontalOptions="FillAndExpand" padding="15" Orientation="vertical" backgroundColor="lightslategray">

    <StackLayout class="expenses__wrapper">

        <Label class="label expenses__wrapper_name" horizontalAlignment="right" text="היי, {{employee.name}}"></Label>

        <expense-type></expense-type>

        <StackLayout class="expenses__wrapper__main" HorizontalOptions="FillAndExpand" Orientation="vertical" backgroundColor="white" height="100%">
            <FlexboxLayout flexDirection="column" justifyContent="space-between" height="100%">
                <Label class="exp-label {{dataService.category.class}}" height="40" marginTop="3" text="{{dataService.category.name}}"></Label>

                <FlexboxLayout>
                    <expense-amount></expense-amount>
                    <expense-custom></expense-custom>
                </FlexboxLayout>

                <StackLayout>
                    <expense-dates></expense-dates>
                </StackLayout>

                <StackLayout>
                    <expense-image></expense-image>
                </StackLayout>

                <StackLayout orientation="horizontal" horizontalAlignment="center">
                    <Button class="send-btn" text="שלח" (tap)="sendInvoice()" width="120" height="50"></Button>
                    <Button class="send-btn secondary" text="צא" (tap)="logout()" width="120" height="50"></Button>
                </StackLayout>
            </FlexboxLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>