<ActionBar title="Expenses Manager">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>
<StackLayout class="expenses-wrapper">
    <Label class="width70p" fontSize="20" width="150" height="50" horizontalAlignment="center"
           text="Hello {{userName}}"></Label>


    <StackLayout>
        <GridLayout rows="60" columns="40,10,40,10,40,10,40" class="exp-types" horizontalAlignment="center">
            <StackLayout row="0" col="0" class="exp-type" borderWidth="2" borderColor="#6495ed">
                <Image src="res://car-icon"></Image>
                <Label text="חניה" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout row="0" col="1"></StackLayout>
            <StackLayout row="0" col="2" class="exp-type" borderWidth="2" borderColor="#6495ed">
                <Image src="res://travel-icon"></Image>
                <Label text="נסיעה" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout row="0" col="3"></StackLayout>
            <StackLayout row="0" col="4" class="exp-type" borderWidth="2" borderColor="#6495ed">
                <Image src="res://food-icon"></Image>
                <Label text="כיבוד" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout row="0" col="5"></StackLayout>
            <StackLayout row="0" col="6" class="exp-type" borderWidth="2" borderColor="#6495ed">
                <Image></Image>
                <Label text="אחר" horizontalAlignment="center" ></Label>
            </StackLayout>
        </GridLayout>
    </StackLayout>


    <!--<GridLayout columns="120,120" rows="25,25" class="width70p">-->
        <!--<DockLayout row="0" col="0" orientation="vertical">-->
            <!--<Checkbox #food text="{{recipeTypes[0].text}}" checked="false"></Checkbox>-->
        <!--</DockLayout>-->

        <!--<DockLayout row="0" col="1" orientation="vertical">-->
            <!--<Checkbox #parking text="{{recipeTypes[1].text}}" checked="false"></Checkbox>-->
        <!--</DockLayout>-->

        <!--<DockLayout row="1" col="0" orientation="vertical">-->
            <!--<Checkbox #driving text="{{recipeTypes[2].text}}" checked="false"></Checkbox>-->
        <!--</DockLayout>-->

        <!--<DockLayout row="1" col="1" orientation="vertical">-->
            <!--<Checkbox #other text="{{recipeTypes[3].text}}" checked="false"></Checkbox>-->
        <!--</DockLayout>-->
    <!--</GridLayout>-->

    <TextField #amount class="width70p" hint="Amount (NIS)"></TextField>

    <GridLayout columns="100,100" rows="70" width="210">
        <Button row="0" col="0" class="exp-btn" width="100" text="Clear"
                (tap)="amount.text = ''; clear()"></Button>
        <Button row="0" col="1" class="exp-btn" width="100" text="Add" (tap)="add(amount.text)"></Button>
    </GridLayout>

    <Button class="exp-btn" text="Log Out" (tap)="logOut()"></Button>

    <Image [src]="imageSrc" width="100" height="100"></Image>
</StackLayout>