<StackLayout class="exp-image-container">
    <StackLayout marginTop="5" *ngIf="cameraAvailable" horizontalAlignment="right" width="90%" marginLeft="5%" marginRight="5%">
        <Label class="exp-label {{category.class}}" text="צילום הקבלה" fontSize="12"></Label>
        <Image [src]="imageSrc" height="100" (tap)="takePicture()" borderColor="black" borderWidth="1"></Image>
    </StackLayout>

    <StackLayout marginTop="5" *ngIf="!cameraAvailable" horizontalAlignment="right" width="90%" marginLeft="5%" marginRight="5%">
        <Label text="המצלמה לא זמינה" color="red"></Label>
    </StackLayout>
</StackLayout>