<FlexboxLayout flexDirection="column" class="exp-image-container" flexGrow="1" padding="0 15px">
    <FlexboxLayout *ngIf="cameraAvailable" flexGrow="1" horizontalAlignment="right" width="100%" flexDirection="column">
        <StackLayout height="40">
            <Label horizontalAlignment="right" class="exp-label {{category.class}}" text="צילום הקבלה"></Label>
        </StackLayout>
        <Image flexGrow="1" [src]="imageSrc" *ngIf="imageSrc" height="50" (tap)="takePicture()" borderColor="black"
               borderWidth="1"></Image>
        <Image flexGrow="1" [src]="'res://camera'" margin="25" *ngIf="!imageSrc" height="50"
               (tap)="takePicture()"></Image>
    </FlexboxLayout>

    <StackLayout marginTop="5" *ngIf="!cameraAvailable" width="90%" marginLeft="5%" marginRight="5%">
        <Label text="המצלמה לא זמינה" color="red" horizontalAlignment="center"></Label>
    </StackLayout>
</FlexboxLayout>