.success{
  background-color: lightslategray;
  height: 100%;

  .image{
    margin: 15px;
  }

  .text{

    color: white;
  }

  .btn{
    background-color: #53d8ea;
    color: white;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 28px!important;
  }
}
