.failure{
  background-color: lightslategray;
  height: 100%;

  &__image{
    margin: 15px;
  }

  &__text{
    color: white;
  }

  .btn{
    background-color: #53d8ea;
    color: white;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
  }
}
