.failure {
    background-color: lightslategray;
    height: 100%;

    &__image {
        margin: 15px;
    }

    &__text {
        color: white;
    }

   &__button {
        margin-top: 10px;
        height: 200px;
        width: 300px;
    }
}
