<StackLayout class="exp-amount-container" horizontalAlignment="center" marginLeft="5%" marginRight="5%">
    <StackLayout>
        <Label class="exp-label {{category.class}}" text="סכום" horizontalAlignment="right"></Label>
    </StackLayout>
    <StackLayout horizontalAlignment="right">
        <TextField #amountField
                   hint="Amount..." borderColor="black" borderWidth="1" height="40" width="90%"
                   fontSize="15" text="{{amount}}" horizontalAlignment="right"
                   (propertyChange)="amountChanged(amountField.text)"></TextField>
    </StackLayout>

</StackLayout>